body {
    background-color: #fae2cd;
}

.topic {
    text-align: center;
    color: maroon;
    margin: 20px;
    margin-bottom: 0;
    font-size: 50px;
}

.content {
    color: rgb(72, 97, 6);
    font-size: 20px;
    text-align: center;
    margin: auto;
    width: 400px;
    height: 200px;
}

.order {
    display: flex;
    text-align: center;
    justify-content: center;

    margin-top: 90%;
}